@import "./main-vars.scss";

:root{
  background-color: $background_color;
}

body{
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: $body_font-size;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
h1 h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
a{
  cursor: pointer;
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
}

// Input, select, Form
form{
  input, select{
    cursor: pointer;
    padding: 5px 10px;
    @include border__radius(0.5px, solid, #ccc, 5px);
    @include bcc__c(#f2f2f2, #999)
  }
}
button{
  @include bcc__c($allButtonBcc, $allButtonColor);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  &:hover{
    transform: $scale-animation;
  }
}

// Class: table
.table {
  width: 100%;
  border: $table_border;
  margin-bottom: 20px;
}
.table thead th {
  font-weight: $table_fw;
  text-align: $table_ta;
  border: $table_border;
  padding: 10px 15px;
  background: $table_bcc;
  font-size: $table_fsize;
}
.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}
.table tbody td {
  text-align: $table_ta;
  border: $table_border;
  padding: 10px 15px;
  font-size: $table_fsize;
  vertical-align: top;
}
.table tbody tr:nth-child(even){
  background: $table_bcc-even;
}
.table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}
