@import "./nav-footer.css";
:root {
  background-color: #f2f2f2;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 1.6vw;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

h1 h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

form input, form select {
  cursor: pointer;
  padding: 5px 10px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #999;
}

button {
  background-color: #005aeb;
  color: #f2f2f2;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
}
button:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}

main {
  position: relative;
}

.goTopBtn {
  padding: 1% 2%;
  background-color: transparent;
  border: 0.75px solid #005aeb;
  position: absolute;
  right: 4%;
  bottom: 1vw;
}
.goTopBtn:focus {
  outline: none;
}
.goTopBtn i {
  color: #005aeb;
}

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
}

.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.table tbody tr:nth-child(even) {
  background: #f3f3f3;
}

.table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 2vw;
  }

  .nav .container {
    display: block;
  }
  .nav .container .nav-left {
    align-items: center;
  }
  .nav .container .nav-left .logo {
    max-height: 50px;
    object-fit: contain;
  }
  .nav .container .menu {
    text-align: center;
    padding: 10px;
  }
  .nav-left .logo {
    width: auto;
  }

  .container {
    width: 85vw;
  }
}