.nav {
  background-color: #464F9D;
  padding: 5px 0;
}
.nav .container {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: minmax(20px, 100px);
}
.nav-left {
  text-align: center;
  height: 100%;
}
.nav-left img {
  width: 100px;
  height: 100px;
}
.nav-left img:hover {
  transform: scale3d(0.9, 0.9, 0.9);
}
.nav-right {
  justify-self: end;
}
.nav-right .menu-open {
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: repeat(5, 1fr);
}
.nav-right .menu-open-item {
  text-align: center;
}
.nav-right .menu-open-item:hover {
  transform: scale3d(0.9, 0.9, 0.9);
}
.nav-right .menu-open-item a {
  text-decoration: none;
  color: #fff;
}

.footer {
  padding: 50px 0;
}
.footer .goTop {
  text-align: center;
  align-items: center;
  padding: 20px 0;
}
.footer .goTop button {
  font-size: 1.8vw;
  background-color: transparent;
  border: none;
  padding: 20px 60px;
}
.footer .goTop button:hover {
  color: #d6a0ce;
}
.footer .goTop button:focus {
  outline: none;
}
.footer .links {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
.footer .links a {
  font-size: 1.5vw;
  text-decoration: none;
  color: #000;
}
.footer .links a:hover {
  text-decoration: underline;
}
.footer .legal {
  padding: 30px 0;
  text-align: center;
}

:root {
  background-color: #f2f2f2;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 1.6vw;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

h1 h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
}

.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.table tbody tr:nth-child(even) {
  background: #f3f3f3;
}

.table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}