// All
$container-width: 70%;
$background_color: rgba(219, 219, 247, 1);
$body_font-size: 1.4vw;
$scale-animation: scale3d(.95, .95, .95);
$allButtonBcc: #005aeb;
$allButtonColor: #f2f2f2;
// Go top button
$goTopBtn-bcc: transparent;
$goTopBtn-border: 0.75px solid #005aeb;
$goTopBtnI-bcc: #005aeb;
$goTopBtn-right: 4%;
$goTopBtn-bottom: 1vw;
// Table
$table_border: none;
$table_fw: bold;
$table_bcc: #d8d8d8;
$table_bcc-even: #f3f3f3;
$table_fsize: 14px;
$table_ta: left;
// Navbar
$nav__bcc: #005aeb;
$nav__link_col: #f2f2f2;
$nav__link_col_hover: #f2f2f2;
// Logo
$logo_width: 8vw;
$nav__number_of_links: repeat(2, 1fr);
// Main
// Profile
$profile__bank-card-width: 25em;
$profile__bank-card-height: 11em;
$profile__credit-card-color: #fafafa;
$profile__credit-card-bcc: rgba(0, 90, 235, 0.9);
// One-way
$header__flight-bcc: #005aeb;
$header__flights-bcc: #fff;
$one-way__gtc: repeat(2, 2fr) 1fr 1fr;
$index__ways_color: #005aeb;
$index__ways_bcc-color: #d7e7f2;
$one-way__g-gap: 2vw;
// Profile
$profile-cards-bcc: #fefefe;
// Footer
// Mixins
@mixin border__radius($width:1px, $style:solid, $color:#000, $rad:5px) {
  border: $width $style $color;
  border-radius: $rad;
}
@mixin bcc__c($bcc:transparent, $color:rgb(0,0,0)) {
  background-color: $bcc;
  color: $color;
}
@mixin bcc__radius($bcc:transparent, $rad:5px) {
  background-color: $bcc;
  border-radius: $rad;
}
@mixin width__height($width, $height) {
  width: $width;
  height: $height;
}
