.header {
  color: #f2f2f2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  word-spacing: 5px;
  background: url("../img/goodtravel.jpg") no-repeat top center/cover;
  padding: 15% 0;
  text-align: center;
}
.header h1 {
  font-size: 4vw;
}
.header h3 {
  font-size: 3.5vw;
}
.header p {
  font-size: 2.5vw;
}

.main .container {
  padding: 5% 0;
}
.main form, .main .tableWrapper {
  overflow-x: scroll;
  padding: 2% 0;
}
.main .main__bank-card-dropdown, .main .main__bank-card-dropdown input {
  font-family: "Iceland", cursive;
}
.main .main__bank-card-dropdown {
  display: none;
}
.main .main__bank-card-dropdown h3 {
  margin: 5% 0;
}
.main .main__bank-card-dropdown .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16em;
  position: relative;
  perspective: 1000px;
}
.main .main__bank-card-dropdown .back,
.main .main__bank-card-dropdown .front {
  color: #fafafa;
  background-color: rgba(0, 90, 235, 0.9);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  width: 25em;
  height: 11em;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  padding: 5%;
}
.main .main__bank-card-dropdown .back form,
.main .main__bank-card-dropdown .front form {
  overflow: visible;
}
.main .main__bank-card-dropdown .back form ::placeholder,
.main .main__bank-card-dropdown .front form ::placeholder {
  color: #e8e8e8;
  opacity: 1;
}
.main .main__bank-card-dropdown .back form :-ms-input-placeholder,
.main .main__bank-card-dropdown .front form :-ms-input-placeholder {
  color: #e8e8e8;
}
.main .main__bank-card-dropdown .back form ::-ms-input-placeholder,
.main .main__bank-card-dropdown .front form ::-ms-input-placeholder {
  color: #e8e8e8;
}
.main .main__bank-card-dropdown .back form input,
.main .main__bank-card-dropdown .front form input {
  text-align: center;
  font-size: 1vw;
  height: 2vw;
  background-color: transparent;
  border: none;
  color: #fff;
}
.main .main__bank-card-dropdown .back form input:focus,
.main .main__bank-card-dropdown .front form input:focus {
  outline: 0.5px inset #f2f2f2;
}
.main .main__bank-card-dropdown .back i.fa.fa-angle-double-right,
.main .main__bank-card-dropdown .front i.fa.fa-angle-double-right {
  position: absolute;
  bottom: 4%;
  right: 4%;
}
.main .main__bank-card-dropdown .back i.fa.fa-angle-double-right:hover,
.main .main__bank-card-dropdown .front i.fa.fa-angle-double-right:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.main .main__bank-card-dropdown .front {
  position: relative;
  transform: rotateY(0deg);
}
.main .main__bank-card-dropdown .front .bankName {
  text-align: center;
  position: absolute;
  top: 0;
  font-size: 1.5vw;
}
.main .main__bank-card-dropdown .front .bank-card {
  justify-content: center;
  width: 100%;
}
.main .main__bank-card-dropdown .front form input::-webkit-inner-spin-button,
.main .main__bank-card-dropdown .front form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .main__bank-card-dropdown .front form .card-date,
.main .main__bank-card-dropdown .front form .card-number {
  margin-bottom: 2%;
}
.main .main__bank-card-dropdown .front form .card-number {
  display: flex;
}
.main .main__bank-card-dropdown .front form .card-number input {
  text-align: center;
  width: 100%;
  margin-right: 2%;
  margin-bottom: 0;
}
.main .main__bank-card-dropdown .front form .card-number:last-child {
  margin-right: 0;
}
.main .main__bank-card-dropdown .front form .card-date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .main__bank-card-dropdown .front form .card-date input {
  width: 100%;
  margin: 0 2%;
}
.main .main__bank-card-dropdown .front form .card-date input:nth-child(4) {
  margin-right: 0;
}
.main .main__bank-card-dropdown .front form .card-date .fa-slash {
  transform: rotateX(180deg);
}
.main .main__bank-card-dropdown .front form .card-date .valid {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 2vw;
}
.main .main__bank-card-dropdown .front form .card-date span {
  text-align: center;
}
.main .main__bank-card-dropdown .front form .name-surname {
  display: flex;
}
.main .main__bank-card-dropdown .front form .name-surname input {
  width: 100%;
}
.main .main__bank-card-dropdown .front form .name-surname input:nth-child(1) {
  margin-right: 4%;
}
.main .main__bank-card-dropdown .back {
  transform: rotateY(180deg);
}
.main .main__bank-card-dropdown .back form input::-webkit-inner-spin-button,
.main .main__bank-card-dropdown .back form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}