.nav {
  background-color: #8c785a;
  padding: 5px 0;
}
.nav .container {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: minmax(20px, 100px);
}
.nav-left {
  text-align: center;
  height: 100%;
}
.nav-left img {
  width: 100px;
  height: 100px;
}
.nav-left img:hover {
  transform: scale3d(0.9, 0.9, 0.9);
}
.nav-right {
  justify-self: end;
}
.nav-right .menu-open {
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: repeat(5, 1fr);
}
.nav-right .menu-open-item {
  text-align: center;
}
.nav-right .menu-open-item:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.nav-right .menu-open-item a {
  text-decoration: none;
  color: #fff;
}

.footer {
  padding: 50px 0;
}
.footer .goTop {
  text-align: center;
  align-items: center;
  padding: 20px 0;
}
.footer .goTop button {
  font-size: 1.8vw;
  background-color: transparent;
  border: none;
  padding: 20px 60px;
}
.footer .goTop button:hover {
  color: #d6a0ce;
}
.footer .goTop button:focus {
  outline: none;
}
.footer .links {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
.footer .links a {
  font-size: 1.5vw;
  text-decoration: none;
  color: #000;
}
.footer .links a:hover {
  text-decoration: underline;
}
.footer .legal {
  padding: 30px 0;
  text-align: center;
}

:root {
  background-color: #f2f2f2;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 1.6vw;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

h1 h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main div {
  display: block;
}
.main .info {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 0;
  padding: 40px;
  background-color: #f2f2f2;
  height: 100vh;
}
.main .info__left {
  padding: 20px;
}
.main .info__right {
  padding: 20px;
}
.main .info__right .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main .info__right .card {
  width: 500px;
  height: 300px;
  position: relative;
  perspective: 1000px;
}
.main .info__right .front, .main .info__right .back {
  position: absolute;
  width: 36vw;
  height: 18vw;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  padding: 10px;
}
.main .info__right .front {
  background-color: #ccc;
  transform: rotateY(0deg);
}
.main .info__right .front div {
  margin-bottom: 15px;
}
.main .info__right .front a {
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  color: #000;
}
.main .info__right .front a:hover {
  transform: scale3d(0.97, 0.97, 0.97);
}
.main .info__right .front form input::-webkit-outer-spin-button,
.main .info__right .front form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .info__right .front form .card-number {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.main .info__right .front form .card-number input {
  width: 90%;
}
.main .info__right .front form .card-date {
  display: grid;
  grid-template-columns: 100px 70px 12px 70px;
  align-items: center;
}
.main .info__right .front form .card-date .valid {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 2vw;
}
.main .info__right .front form .card-date span {
  text-align: center;
}
.main .info__right .front form .name-surname {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.main .info__right .back {
  background-color: #ccc;
  transform: rotateY(180deg);
}
.main .info__right .back a {
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  color: #000;
}
.main .info__right .back form input::-webkit-outer-spin-button,
.main .info__right .back form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .info__profile-photo {
  text-align: center;
}
.main .info__profile-photo img {
  width: 100%;
}
.main .info__profile-info {
  padding: 20px;
}
.main .info__profile-info .name-surname {
  margin-bottom: 20px;
}
.main .info__profile-info .login {
  margin-bottom: 20px;
}
.main .info__profile-info .number {
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 3.5vw;
  }

  .nav .container {
    display: block;
  }
  .nav .container .nav-left {
    align-items: center;
  }
  .nav .container .nav-left .logo {
    max-height: 50px;
    object-fit: contain;
  }
  .nav .container .menu {
    text-align: center;
    padding: 10px;
  }
  .nav-left .logo {
    width: auto;
  }

  .container {
    width: 85vw;
  }
}