@import "./main-vars.scss"; //HEADER

.header {
  background: url("../img/bg-main.jpg") no-repeat top center / cover;
  padding: 40px 0;
  text-align: center;

  .flights {
    @include bcc__radius($header__flights-bcc, 10px);

    .container {
      width: 95%;
      padding: 20px 10px;

      .flight {
        padding: 5px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 11fr;
        border-bottom: 2px solid rgb(33, 122, 201);
      }

      .fa-plane {
        justify-self: center;
        font-size: 3vw;
      }

      h2 {
        text-align: left;
      }

      &:nth-child(2) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .ways {
        div {
          width: auto;
          text-align: center;
          padding: 5px;
          border-radius: 10px;
          // .h3:hover{
          //   transform: $scale-animation;
          // }
        }

        a {
          @include border__radius(0, solid, transparent, 15px);
          background-color: $index__ways_bcc-color;
          color: $index__ways_color;
          padding: 10px 20px;
          font-weight: normal;
        }
      }
    }
    .one-way {
      transition: all 1s ease;

      form {
        margin-top: 40px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: $one-way__gtc;
        grid-gap: $one-way__g-gap;
        position: relative;

        input[type="date"]::-webkit-calendar-picker-indicator {
          background: transparent;
          color: transparent;
          cursor: pointer;
          height: auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: auto;
        }
      }

      .searchButton {
        grid-column: 1 / 5;
      }
    }
  }
}
//Main

.main {
  padding: 5% 0;

  .container {
    margin-bottom: 30px;
  }


  .popup{
    position: fixed;
    left: 8vw;
    right: 8vw;
    top: 10vh;
    bottom: 10vh;
    width: 84vw;
    height: 80vh;
    overflow: hidden;
    z-index: 100;
    background-color: $background_color;
    @include border__radius($color: $allButtonBcc);
    box-shadow: 0 0 4px rgb(20, 20, 20);
  }
  .popupWrapper{
    display: block;
    width: 100%;
    height: 100%;
    grid-template-rows: auto min-content;
    grid-gap: 0;
    position: relative;
    overflow-y: overlay;
  }
  .closeButtonWrapper{
    display: block;



    button{
      width: 100%;
      @include border__radius($color: transparent);
      @include bcc__c(transparent, $allButtonBcc);
    }
  }
  .popupContentWrapper{
    padding: 2vh;
    display: block;

    .popupTextWrapper{
      display: block;
    }

    .popupGalleryWrapper{
      display: flex;
      overflow-x: scroll;
      width: 95%;
      margin: 0 auto;
    }

    h2{
      text-align: center;
      .small{
        font-size: 0.7em;
      }
    }
  }
  .p1c1_popup, .p1c2_popup, .p1c3_popup,
  .p2c1_popup, .p2c2_popup, .p2c3_popup,
  .p4c1_popup, .p4c2_popup, .p4c3_popup{
    display: none;
  }





  div {
    display: grid;
    grid-gap: 30px;

    .part1,
    .part2,
    .part3,
    .part4,
    .part5 {
      display: grid;
      grid-gap: 30px;
    }

    .card,
    .card1,
    .card2,
    .card3 {
      @include border__radius(0, solid, transparent, $rad: 10px);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

      a {
        @include border__radius($width: 0, $rad: 10px);
        @include bcc__c($color: #000);
        text-decoration: none;
        display: grid;
        grid-template-rows: 2fr 1fr;
      }
    }

    .top {
      @include bcc__c($color: #fff);
      text-shadow: 0 0 3px rgb(0, 0, 0);
      text-align: right;
      align-items: flex-end;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      h3 {
        padding: 0 5%;
        line-height: 200%;
      }
    }

    .bottom {
      @include bcc__c($bcc: rgba(255, 255, 255, 0.9));
      align-items: center;
      padding: 0 5%;
      line-height: 130%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .part1,
    .part2,
    .part3,
    .part4 {
      .card,
      .card1,
      .card2,
      .card3 {
        transition: all 0.5s ease-out;
        perspective: 1000px;
        a{
          .top{
            padding: 30% 0 0 0;
          }
        }
      }

      .card1:hover,
      .card2:hover,
      .card3:hover,
      .card:hover {
        transform: $scale-animation;
      }
    }

    .part1,
    .part2,
    .part4 {
      grid-template-columns: repeat(3, 1fr);
    }

    .part3,
    .part5 {
      grid-template-columns: 1fr;
    }

    .part1 {
      grid-template-areas: "p1_card1 p1_card2 p1_card3";

      .card1 {
        grid-area: p1_card1;

        .top {
          background: url("../img/beach.jpg") no-repeat center / cover;
        }
      }

      .card2 {
        grid-area: p1_card2;

        .top {
          background: url("../img/travel-world.jpg") no-repeat center / cover;
        }
      }

      .card3 {
        grid-area: p1_card3;

        .top {
          background: url("../img/only-boat.jpg") no-repeat center / cover;
        }
      }
    }

    .part2 {
      grid-template-areas: "p2_card1 p2_card1 p2_card2" "p2_card1 p2_card1 p2_card3";

      .card1 {
        grid-area: p2_card1;

        a {
          grid-template-rows: 1fr;

          .top {
            border-radius: 10px;
            background: url("../img/norway.jpg") no-repeat center bottom / cover;
          }
        }
      }

      .card2 {
        grid-area: p2_card2;

        .top {
          background: url("../img/stock.jpg") no-repeat center bottom / cover;
        }
      }

      .card3 {
        grid-area: p2_card3;

        .top {
          background: url("../img/plane-man.jpg") no-repeat center / cover;
        }
      }
    }

    .part3 {
      grid-template-areas: "p3_card";

      .card {
        grid-area: p3_card;

        .top {
          // padding: 30% 0 0 0;
          background: url("../img/long.jpg") no-repeat center top / cover;
        }
      }
    }

    .part4 {
      grid-template-areas: "p4_card1 p4_card2 p4_card3";

      .card1 {
        grid-area: p4_card1;

        .top {
          background: url("../img/alone.jpg") no-repeat center top / cover;
        }
      }

      .card2 {
        grid-area: p4_card2;

        .top {
          background: url("../img/sand-travel.jpg") no-repeat center / cover;
        }
      }

      .card3 {
        grid-area: p4_card3;

        .top {
          background: url("../img/happy.jpg") no-repeat center / cover;
        }
      }
    }

    .part5{
      grid-auto-rows: auto;
      div{
        display: block;
        grid-gap: 0;

        .card, .card1, .card2, .card3{

          a{
            grid-template-rows: 1fr;
            grid-template-columns: 30% 70%;
          }
        }
      }
      .p5_card {
        @include bcc__c($bcc: rgba(255, 255, 255, 0.9));
        display: flex;
        @include border__radius(0, solid, transparent, $rad: 10px);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        justify-content: center;
        align-items: center;

        a {
          @include border__radius($width: 0, $rad: 10px);
          @include bcc__c($color: #000);
          text-decoration: none;
          display: grid;
          grid-template-columns: 1fr 2fr;
        }
      }
      .left{
        .getApp__photo{
          height: 100%;
        }
        img{
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .right{
        display: flex;
        .text{
          padding: 4%;
          width: 66%;
        }
        .qr_code{
          padding: 4%;
          width: 18%;
          margin: auto;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}







@media screen and (min-width: 2560px) {
  .header{
    .flights{
      .one-way{
        form{
          input, select, .searchButton{
            height: 2vw;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  // .header {
  //   .flights div {
  //     .one-way form {
  //       grid-gap: 1vw;
  //       grid-template-columns: 1fr 1fr;
  //     }
  //   }
  // }
}
@media screen and (max-width: 768px) {
  .header{
    .flights{
      .one-way{
        form{
          grid-template-columns: 1fr 1fr;
        }
        .searchButton{
          grid-column: 1 / 3;
        }
      }
    }
  }
  .main{
    div{
      grid-gap: 30px;

      .part1, .part2, .part3, .part4{
        .card1, .card2, .card3{
          a{
            .top{
              // padding: 8vw;
            }
          }
        }
      }

      .part1,
      .part2,
      .part4{
        grid-template-columns: 1fr;
      }

      .part1{
        grid-template-areas: "p1_card1" "p1_card2" "p1_card3";
      }

      .part2{
        grid-template-areas: "p2_card1" "p2_card2" "p2_card3";
        .card1{
          a{
            .top{

            }
          }
        }
      }

      .part3 {}

      .part4 {
        grid-template-areas: "p4_card1" "p4_card2" "p4_card3";
      }

      .part5 {
        .p5_card{
          a{
            grid-template-columns: 1fr;
          }
        }
        .left{
          display: none;
        }
        .right{
          .text{
            width: 80%;
          }
          .qr_code{
            width: 20%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .header{
    .flights{
      .one-way{
        form{
          grid-template-columns: 1fr;
        }
        .searchButton{
          grid-column: 1 / 2;
        }
      }
    }
  }
  // .header {
  //   .flights {
  //     .container {
  //       h2 {
  //         font-size: 4vw;
  //         text-align: center;
  //       }
  //
  //       .flight {
  //         border-bottom: 1px solid #217ac9;
  //         grid-template-columns: 1fr;
  //         grid-template-rows: minmax(auto, 30px);
  //
  //         img {
  //           display: none;
  //         }
  //       }
  //
  //       .ways {
  //         display: block;
  //
  //         a {
  //           margin: 5px 0;
  //         }
  //       }
  //
  //       .one-way form {
  //         grid-template-columns: 1fr;
  //       }
  //     }
  //   }
  // }
}
