.nav {
  background-color: #005aeb;
}
.nav .container {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: minmax(20px, 100px);
}
.nav-left {
  text-align: center;
}
.nav-left img {
  width: 8vw;
  object-fit: contain;
}
.nav-left img:hover {
  transform: scale3d(0.9, 0.9, 0.9);
}
.nav-right {
  justify-self: end;
}
.nav-right .menu-open {
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: repeat(5, 1fr);
}
.nav-right .menu-open-item {
  text-align: center;
  margin: auto 0;
}
.nav-right .menu-open-item:hover {
  transform: scale3d(0.9, 0.9, 0.9);
}
.nav-right .menu-open-item a {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  color: #f2f2f2;
}
.nav-right .menu-open-item a:hover {
  color: #f2f2f2;
}

.footer {
  padding: 50px 0;
  background-color: #005aeb;
  color: #f2f2f2;
}
.footer .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw 10vw;
  text-align: center;
  margin-bottom: 10px;
}
.footer .links a {
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 1.5vw;
}
.footer .links a:hover {
  transform: scale3d(0.9, 0.9, 0.9);
  color: #f2f2f2;
}
.footer .legal {
  padding: 30px 0;
  text-align: center;
}

:root {
  background-color: #f2f2f2;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 1.6vw;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

h1 h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

form input, form select {
  cursor: pointer;
  padding: 5px 10px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #999;
}

button {
  background-color: #005aeb;
  color: #f2f2f2;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
}
button:hover {
  transform: scale3d(0.9, 0.9, 0.9);
}

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
}

.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.table tbody tr:nth-child(even) {
  background: #f3f3f3;
}

.table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}

body {
  background: url("../img/plane-wing.jpg") no-repeat center top/cover;
}

.main {
  margin: auto;
  height: 80vh;
}
.main .container {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 20px 30px;
}
.main form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: minmax(10px, 20px);
  grid-row-gap: minmax(10px, 20px);
}
.main form * {
  margin: 0 auto;
}
.main form input {
  min-height: 20px;
}
.main form input, .main form button, .main form div {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main form input, .main form div {
  width: 90%;
}
.main form h1 {
  margin: 20px 0;
  text-align: center;
}
.main form > .button {
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1024px) {
  .nav-left .logo {
    width: 14vw;
  }
}
@media screen and (max-width: 425px) {
  .nav .container {
    display: block;
  }
  .nav .container .nav-left {
    align-items: center;
  }
  .nav .container .nav-left .logo {
    object-fit: contain;
  }
  .nav .container .menu {
    text-align: center;
  }

  .main .container form div {
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
  }
}