@import "./main-vars.scss"; // Main

.main {
  .container{
    padding: 3% 0;
  }
  .main__info {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 2%;
    grid-template-areas: "sidebar profile";
  }

  .main__sidebar {
    border-radius: 10px;
    background-color: $profile-cards-bcc;
    padding: 5% 0;
    grid-area: sidebar;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 10% 0;
      padding: 0 0 0 5%;
    }
  }

  .main__profile-info {
    border-radius: 10px;
    background-color: $profile-cards-bcc;
    grid-area: profile;
    padding: 1% 0;
    margin-bottom: 3%;
  }

  .main__profile-img-wrapper {
    padding: 5% 0;
    text-align: center;
    align-items: center;
  }

  .main__profile-img {
    display: inline-block;
    width: 20em;
    height: 20em;
    overflow: hidden;
    border-radius: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main__individual-info {
    text-align: center;
  }

  .main__bank-card {
    padding: 3%;
    cursor: pointer;
    text-align: center;
  }

  .main__bank-card-dropdown {
    //////////////////////////////////////////
    display: none;
    //////////////////////////////////////////
    .wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 15em;
      position: relative;
      perspective: 1000px;
    }

    .back,
    .front {
      color: $profile__credit-card-color;
      background-color: $profile__credit-card-bcc;
      box-shadow: 0 0 6px rgb(0, 0, 0, .4);
      width: $profile__bank-card-width;
      height: $profile__bank-card-height;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-out;
      backface-visibility: hidden;
      border-radius: 10px;
      padding: 5%;

      form{
        input{
          font-size: 1vw;
        }
      }

      i.fa-angle-double-right {
        font-weight: 900;
        cursor: pointer;
        position: absolute;
        right: 5%;
        bottom: 5%;
        font-size: 1.5vw;

        &:hover {
          transform: $scale-animation;
        }
      }
    }

    .front {
      transform: rotateY(0deg);

      .bank-card {
        justify-content: center;
        width: 100%;
      }

      form {
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input{
          height: 2vw;
        }

        .card-number, .card-date{
          margin-bottom: 2%;
        }

        .card-number {
          display: flex;

          input{
            text-align: center;
            width: 100%;
            margin-right: 2%;
            margin-bottom: 0;
          }
          &:last-child{
            margin-right: 0;
          }
        }

        .card-date {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          input{
            width: 100%;
            margin: 0 2%;
            &:nth-child(4){
              margin-right: 0;
            }
          }

          .fa-slash{
            transform: rotateX(180deg);
          }

          .valid {
            margin-right: 10px;
            text-transform: uppercase;
            font-size: 2vw;
          }

          span {
            text-align: center;
          }
        }

        .name-surname {
          display: flex;

          input{
            width: 100%;
            &:nth-child(1){
            margin-right: 4%;
            }
          }
        }
      }
    }

    .back {
      transform: rotateY(180deg);

      form {
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        .card-cvv {

        }
        input{
          height: 2vw;
        }
      }
    }
  }
}








@media screen and (max-width: 1440px) {
  .header {}
}
@media screen and (max-width: 1024px) {
  .nav {
    &-left {
      .logo {}
    }
  }
}
@media screen and (max-width: 768px) {
  .main {
    div {

    }
    .main__info{
      grid-template-columns: 1fr;
      grid-template-areas:
      "sidebar"
      "profile";
    }
    .main__sidebar{
      padding: 3% 0;
      li{
        margin: 3% 0;
      }
    }
    .main__bank-card-dropdown{
      .front{
        form{
          input{
            height: 1vw;
          }
        }
      }
    }
  }
}
// @media screen and (max-width: 425px) {
//   body {
//     font-size: 3.5vw;
//   }
//
//   .nav {
//     .container {
//       display: block;
//
//       .nav-left {
//         align-items: center;
//
//         .logo {
//           max-height: 50px;
//           object-fit: contain;
//         }
//       }
//
//       .menu {
//         text-align: center;
//         padding: 10px;
//       }
//     }
//
//     &-left {
//       .logo {
//         width: auto;
//       }
//     }
//   }
//
//   .container {
//     width: 85vw;
//   }
// }
