@import "./main-vars.scss";

body {
  background: url("../img/plane-wing.jpg") no-repeat center top / cover;
}


//Main
.main {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    margin: 25vw 0;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 5px;
    padding: 20px 30px;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .loginButton,
    .registerButton {
      grid-column: 1 / 3;
    }

    input {
      min-height: 20px;
    }

    button,
    div,
    input {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    h1 {
      margin: 20px 0;
      text-align: center;
    }

    & > .button {
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    &-left {
      .logo {
        width: 14vw;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main{
    form{
      grid-template-columns: 1fr;

      .registerButton, .loginButton{
        grid-column: auto;
      }
    }
  }
}
