/*#F9F0B0 rgb(140, 120, 90)*/
.main .main__info {
  padding: 3% 0;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 2%;
  grid-template-areas: "sidebar profile";
}
.main .main__sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  border-radius: 10px;
  background-color: #fefefe;
  padding: 5% 0;
  grid-area: sidebar;
}
.main .main__sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main .main__sidebar li {
  margin: 10% 0;
  padding: 0 0 0 5%;
}
.main .main__profile-info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  border-radius: 10px;
  background-color: #fefefe;
  grid-area: profile;
  padding: 1% 0;
}
.main .main__profile-img-wrapper {
  padding: 5% 0;
  text-align: center;
  align-items: center;
}
.main .main__profile-img {
  display: inline-block;
  width: 20em;
  height: 20em;
  overflow: hidden;
  border-radius: 100%;
}
.main .main__profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .main__individual-info {
  text-align: center;
}
.main .main__bank-card {
  cursor: pointer;
  text-align: center;
}
.main .main__bank-card-dropdown {
  display: none;
}
.main .main__bank-card-dropdown .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main__bank-card-dropdown .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15em;
  position: relative;
  perspective: 1000px;
}
.main .main__bank-card-dropdown .back,
.main .main__bank-card-dropdown .front {
  color: #fafafa;
  background-color: rgba(0, 90, 235, 0.9);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  width: 22em;
  height: 10em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  padding: 5%;
}
.main .main__bank-card-dropdown .back i.fa-angle-double-right,
.main .main__bank-card-dropdown .front i.fa-angle-double-right {
  font-weight: 900;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.main .main__bank-card-dropdown .back i.fa-angle-double-right:hover,
.main .main__bank-card-dropdown .front i.fa-angle-double-right:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.main .main__bank-card-dropdown .front {
  transform: rotateY(0deg);
}
.main .main__bank-card-dropdown .front .bank-card {
  justify-content: center;
  width: 100%;
}
.main .main__bank-card-dropdown .front form input::-webkit-inner-spin-button,
.main .main__bank-card-dropdown .front form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .main__bank-card-dropdown .front form input {
  height: 2.5em;
}
.main .main__bank-card-dropdown .front form .card-number, .main .main__bank-card-dropdown .front form .card-date {
  margin-bottom: 2%;
}
.main .main__bank-card-dropdown .front form .card-number {
  display: flex;
}
.main .main__bank-card-dropdown .front form .card-number input {
  text-align: center;
  width: 100%;
  margin-right: 2%;
  margin-bottom: 0;
}
.main .main__bank-card-dropdown .front form .card-number:last-child {
  margin-right: 0;
}
.main .main__bank-card-dropdown .front form .card-date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .main__bank-card-dropdown .front form .card-date input {
  width: 100%;
  margin: 0 2%;
}
.main .main__bank-card-dropdown .front form .card-date input:nth-child(4) {
  margin-right: 0;
}
.main .main__bank-card-dropdown .front form .card-date .fa-slash {
  transform: rotateX(180deg);
}
.main .main__bank-card-dropdown .front form .card-date .valid {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 2vw;
}
.main .main__bank-card-dropdown .front form .card-date span {
  text-align: center;
}
.main .main__bank-card-dropdown .front form .name-surname {
  display: flex;
}
.main .main__bank-card-dropdown .front form .name-surname input {
  width: 100%;
}
.main .main__bank-card-dropdown .front form .name-surname input:nth-child(1) {
  margin-right: 4%;
}
.main .main__bank-card-dropdown .back {
  transform: rotateY(180deg);
}
.main .main__bank-card-dropdown .back form input::-webkit-inner-spin-button,
.main .main__bank-card-dropdown .back form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .main__bank-card-dropdown .back form input {
  height: 2.5em;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 3.5vw;
  }

  .nav .container {
    display: block;
  }
  .nav .container .nav-left {
    align-items: center;
  }
  .nav .container .nav-left .logo {
    max-height: 50px;
    object-fit: contain;
  }
  .nav .container .menu {
    text-align: center;
    padding: 10px;
  }
  .nav-left .logo {
    width: auto;
  }

  .container {
    width: 85vw;
  }
}