.main .main__info {
  padding: 3% 0;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 2%;
  grid-template-areas: "sidebar profile";
}
.main .main__sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  border-radius: 10px;
  background-color: #fefefe;
  padding: 1% 0;
  grid-area: sidebar;
}
.main .main__sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main .main__sidebar li {
  margin: 4% 0;
  padding: 0 0 0 4%;
}
.main .main__profile-info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  border-radius: 10px;
  background-color: #fefefe;
  grid-area: profile;
  padding: 1% 0;
}
.main .main__profile-img-wrapper {
  padding: 2% 0;
  text-align: center;
  align-items: center;
}
.main .main__profile-img {
  display: inline-block;
  width: 20em;
  height: 20em;
  overflow: hidden;
  border-radius: 100%;
}
.main .main__profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .main__individual-info {
  text-align: center;
}
.main .main__bank-card {
  text-align: center;
}
.main .main__bank-card-dropdown .wrap {
  justify-content: center;
}
.main .main__bank-card-dropdown .card {
  width: 15em;
  height: 10em;
  position: relative;
  perspective: 1000px;
}
.main .main__bank-card-dropdown .front, .main .main__bank-card-dropdown .back {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  padding: 25px 15px;
}
.main .main__bank-card-dropdown .front {
  background-color: #ccc;
  transform: rotateY(0deg);
}
.main .main__bank-card-dropdown .front .bank-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.main .main__bank-card-dropdown .front a {
  padding: 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
  color: #000;
}
.main .main__bank-card-dropdown .front a:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.main .main__bank-card-dropdown .front form input::-webkit-outer-spin-button,
.main .main__bank-card-dropdown .front form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .main__bank-card-dropdown .front form .card-number {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: auto 0;
}
.main .main__bank-card-dropdown .front form .card-date {
  display: grid;
  grid-template-columns: 100px 70px 12px 70px;
  align-items: center;
  text-align: center;
}
.main .main__bank-card-dropdown .front form .card-date .valid {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 2vw;
}
.main .main__bank-card-dropdown .front form .card-date span {
  text-align: center;
}
.main .main__bank-card-dropdown .front form .name-surname {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.main .main__bank-card-dropdown .back {
  background-color: #ccc;
  transform: rotateY(180deg);
}
.main .main__bank-card-dropdown .back a {
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  color: #000;
}
.main .main__bank-card-dropdown .back form input::-webkit-outer-spin-button,
.main .main__bank-card-dropdown .back form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (max-width: 425px) {
  body {
    font-size: 3.5vw;
  }

  .nav .container {
    display: block;
  }
  .nav .container .nav-left {
    align-items: center;
  }
  .nav .container .nav-left .logo {
    max-height: 50px;
    object-fit: contain;
  }
  .nav .container .menu {
    text-align: center;
    padding: 10px;
  }
  .nav-left .logo {
    width: auto;
  }

  .container {
    width: 85vw;
  }
}
.show {
  display: block !important;
}