/*#F9F0B0 rgb(140, 120, 90)*/
.header {
  background: url("../img/bg-main.jpg") no-repeat top center/cover;
  padding: 40px 0;
  text-align: center;
}
.header .flights {
  background-color: #fff;
  border-radius: 10px;
}
.header .flights .container {
  width: 95%;
  padding: 20px 10px;
}
.header .flights .container .flight {
  padding: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 11fr;
  border-bottom: 2px solid #217ac9;
}
.header .flights .container .fa-plane {
  justify-self: center;
  font-size: 3vw;
}
.header .flights .container h2 {
  text-align: left;
  font-size: 2vw;
}
.header .flights .container:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header .flights .container .ways div {
  width: auto;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.header .flights .container .ways a {
  border: 0 solid transparent;
  border-radius: 15px;
  background-color: #d7e7f2;
  color: #005aeb;
  padding: 10px 20px;
  font-weight: normal;
}
.header .flights .one-way {
  transition: all 1s ease;
}
.header .flights .one-way form {
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr 1fr;
  grid-gap: 2vw;
}
.header .flights .one-way .searchButton {
  grid-column: 1/5;
}

.main {
  padding: 50px 0;
}
.main .container {
  margin-bottom: 30px;
}
.main div {
  display: grid;
  grid-gap: 30px;
}
.main div .part1,
.main div .part2,
.main div .part3,
.main div .part4,
.main div .part5 {
  display: grid;
  grid-gap: 30px;
  grid-auto-rows: 30vw;
}
.main div .card,
.main div .card1,
.main div .card2,
.main div .card3 {
  border: 0 solid transparent;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.main div .card a,
.main div .card1 a,
.main div .card2 a,
.main div .card3 a {
  border: 0 solid #000;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  display: grid;
  grid-template-rows: 70% 30%;
}
.main div .top {
  background-color: transparent;
  color: #fff;
  text-shadow: 0 0 3px black;
  padding-left: 10px;
  align-content: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main div .top h3 {
  line-height: 200%;
}
.main div .bottom {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  align-items: center;
  padding: 0 5%;
  line-height: 130%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main div .part1 .card,
.main div .part1 .card1,
.main div .part1 .card2,
.main div .part1 .card3,
.main div .part2 .card,
.main div .part2 .card1,
.main div .part2 .card2,
.main div .part2 .card3,
.main div .part3 .card,
.main div .part3 .card1,
.main div .part3 .card2,
.main div .part3 .card3,
.main div .part4 .card,
.main div .part4 .card1,
.main div .part4 .card2,
.main div .part4 .card3 {
  transition: all 0.5s ease-out;
  perspective: 1000px;
}
.main div .part1 .card1:hover,
.main div .part1 .card2:hover,
.main div .part1 .card3:hover,
.main div .part1 .card:hover,
.main div .part2 .card1:hover,
.main div .part2 .card2:hover,
.main div .part2 .card3:hover,
.main div .part2 .card:hover,
.main div .part3 .card1:hover,
.main div .part3 .card2:hover,
.main div .part3 .card3:hover,
.main div .part3 .card:hover,
.main div .part4 .card1:hover,
.main div .part4 .card2:hover,
.main div .part4 .card3:hover,
.main div .part4 .card:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.main div .part1,
.main div .part2,
.main div .part4 {
  grid-template-columns: repeat(3, 1fr);
}
.main div .part3,
.main div .part5 {
  grid-template-columns: 1fr;
}
.main div .part1 {
  grid-template-areas: "p1_card1 p1_card2 p1_card3";
}
.main div .part1 .card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: p1_card1;
}
.main div .part1 .card1 .top {
  background: url("../img/beach.jpg") no-repeat center top/cover;
}
.main div .part1 .card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: p1_card2;
}
.main div .part1 .card2 .top {
  background: url("../img/travel-world.jpg") no-repeat center top/cover;
}
.main div .part1 .card3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: p1_card3;
}
.main div .part1 .card3 .top {
  background: url("../img/only-boat.jpg") no-repeat center top/cover;
}
.main div .part2 {
  grid-template-areas: "p2_card1 p2_card1 p2_card2" "p2_card1 p2_card1 p2_card3";
}
.main div .part2 .card1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: p2_card1;
}
.main div .part2 .card1 a {
  grid-template-rows: 100%;
}
.main div .part2 .card1 a .top {
  border-radius: 10px;
}
.main div .part2 .card1 .top {
  background: url("../img/norway.jpg") no-repeat center top/cover;
}
.main div .part2 .card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: p2_card2;
}
.main div .part2 .card2 .top {
  background: url("../img/stock.jpg") no-repeat center top/cover;
}
.main div .part2 .card3 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: p2_card3;
}
.main div .part2 .card3 .top {
  background: url("../img/plane-man.jpg") no-repeat center top/cover;
}
.main div .part3 {
  grid-template-areas: "p3_card";
}
.main div .part3 .card {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: p3_card;
}
.main div .part3 .card .top {
  background: url("../img/long.jpg") no-repeat center top/cover;
}
.main div .part4 {
  grid-template-areas: "p4_card1 p4_card2 p4_card3";
}
.main div .part4 .card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: p4_card1;
}
.main div .part4 .card1 .top {
  background: url("../img/alone.jpg") no-repeat center top/cover;
}
.main div .part4 .card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: p4_card2;
}
.main div .part4 .card2 .top {
  background: url("../img/sand-travel.jpg") no-repeat center top/cover;
}
.main div .part4 .card3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: p4_card3;
}
.main div .part4 .card3 .top {
  background: url("../img/happy.jpg") no-repeat center top/cover;
}
.main div .part5 {
  grid-gap: 0;
  grid-template-rows: auto;
}
.main div .part5 .card {
  grid-gap: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  grid-template-columns: 33.33% 66.67%;
}
.main div .part5 .card .left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: url("../img/booking-by-phone.jpg") no-repeat center top/cover;
}
.main div .part5 .card .right {
  padding: 40px;
  grid-template-columns: 3fr 1fr;
}
.main div .part5 .card .right .text {
  display: block;
}
.main div .part5 .card .right .qr_img {
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.main div .part5 .card .right .qr_img img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .header .flights div .one-way form {
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr;
  }
  .header .flights div .multi-city p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .main div {
    grid-gap: 30px;
  }
  .main div .part1,
.main div .part2,
.main div .part4 {
    grid-template-columns: 1fr;
  }
  .main div .part1 {
    grid-template-areas: "p1_card1" "p1_card2" "p1_card3";
  }
  .main div .part2 {
    grid-template-areas: "p2_card1" "p2_card2" "p2_card3";
  }
  .main div .part4 {
    grid-template-areas: "p4_card1" "p4_card2" "p4_card3";
  }
  .main div .part1 .card1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main div .part1 .card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main div .part1 .card3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main div .part2 .card1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .main div .part2 .card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main div .part2 .card3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main div .part4 .card1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main div .part4 .card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main div .part4 .card3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 425px) {
  .header .flights .container h2 {
    font-size: 4vw;
    text-align: center;
  }
  .header .flights .container .flight {
    border-bottom: 1px solid #217ac9;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 30px);
  }
  .header .flights .container .flight img {
    display: none;
  }
  .header .flights .container .ways {
    display: block;
  }
  .header .flights .container .ways a {
    margin: 5px 0;
  }
  .header .flights .container .one-way form {
    grid-template-columns: 1fr;
  }
}