body {
  background: url("../img/plane-wing.jpg") no-repeat center top/cover;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container {
  margin: 25vw 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 20px 30px;
}
.main form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.main form .loginButton,
.main form .registerButton {
  grid-column: 1/3;
}
.main form input {
  min-height: 20px;
}
.main form button,
.main form div,
.main form input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main form h1 {
  margin: 20px 0;
  text-align: center;
}
.main form > .button {
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1024px) {
  .nav-left .logo {
    width: 14vw;
  }
}
@media screen and (max-width: 768px) {
  .main form {
    grid-template-columns: 1fr;
  }
  .main form .registerButton, .main form .loginButton {
    grid-column: auto;
  }
}