.header {
  background: url("../img/bg-main.jpg") no-repeat top center/cover;
  padding: 40px 0;
  text-align: center;
}
.header .flights {
  background-color: #fff;
  border-radius: 10px;
}
.header .flights .container {
  width: 95%;
  padding: 20px 10px;
}
.header .flights .container .flight {
  padding: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 11fr;
  border-bottom: 2px solid #217ac9;
}
.header .flights .container .fa-plane {
  justify-self: center;
  font-size: 3vw;
}
.header .flights .container h2 {
  text-align: left;
}
.header .flights .container:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header .flights .container .ways div {
  width: auto;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.header .flights .container .ways a {
  border: 0 solid transparent;
  border-radius: 15px;
  background-color: #d7e7f2;
  color: #005aeb;
  padding: 10px 20px;
  font-weight: normal;
}
.header .flights .one-way {
  transition: all 1s ease;
}
.header .flights .one-way form {
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr 1fr;
  grid-gap: 2vw;
}
.header .flights .one-way .searchButton {
  grid-column: 1/5;
}

.main {
  padding: 5% 0;
}
.main .container {
  margin-bottom: 30px;
}
.main .popup {
  position: fixed;
  left: 8vw;
  right: 8vw;
  top: 10vh;
  bottom: 10vh;
  width: 84vw;
  height: 80vh;
  overflow: hidden;
  z-index: 100;
  background-color: #f2f2f2;
  border: 2px solid #005aeb;
  border-radius: 5px;
}
.main .popupWrapper {
  display: block;
  width: 100%;
  height: 100%;
  grid-template-rows: auto -webkit-min-content;
  grid-template-rows: auto min-content;
  grid-gap: 0;
  position: relative;
  overflow-y: overlay;
}
.main .closeButtonWrapper {
  display: block;
}
.main .closeButtonWrapper button {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  color: #005aeb;
}
.main .popupContentWrapper {
  padding: 3vh;
  display: block;
  width: 70vw;
  margin: 0 auto;
}
.main .popupContentWrapper .popupTextWrapper {
  display: block;
}
.main .popupContentWrapper .popupGalleryWrapper {
  display: flex;
  overflow-x: scroll;
  height: 20vh;
  padding: 1% 0;
}
.main .popupContentWrapper h2 {
  text-align: center;
}
.main .popupContentWrapper h2 .small {
  font-size: 0.7em;
}
.main .p1c1_popup,
.main .p1c2_popup,
.main .p1c3_popup,
.main .p2c1_popup,
.main .p2c2_popup,
.main .p2c3_popup,
.main .p4c1_popup,
.main .p4c2_popup,
.main .p4c3_popup {
  display: none;
}
.main div {
  display: grid;
  grid-gap: 30px;
}
.main div .part1,
.main div .part2,
.main div .part3,
.main div .part4,
.main div .part5 {
  display: grid;
  grid-gap: 30px;
}
.main div .card,
.main div .card1,
.main div .card2,
.main div .card3 {
  border: 0 solid transparent;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.main div .card a,
.main div .card1 a,
.main div .card2 a,
.main div .card3 a {
  border: 0 solid #000;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  display: grid;
  grid-template-rows: auto -webkit-min-content;
  grid-template-rows: auto min-content;
}
.main div .top {
  background-color: transparent;
  color: #f2f2f2;
  text-shadow: 0 0 2px #005aeb;
  text-align: right;
  align-items: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main div .top h3 {
  padding: 0 5%;
  line-height: 200%;
}
.main div .bottom {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  align-items: center;
  padding: 0 5%;
  line-height: 130%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main div .part1 .card,
.main div .part1 .card1,
.main div .part1 .card2,
.main div .part1 .card3,
.main div .part2 .card,
.main div .part2 .card1,
.main div .part2 .card2,
.main div .part2 .card3,
.main div .part4 .card,
.main div .part4 .card1,
.main div .part4 .card2,
.main div .part4 .card3 {
  transition: all 0.5s ease-out;
  perspective: 1000px;
}
.main div .part1 .card a .top,
.main div .part1 .card1 a .top,
.main div .part1 .card2 a .top,
.main div .part1 .card3 a .top,
.main div .part2 .card a .top,
.main div .part2 .card1 a .top,
.main div .part2 .card2 a .top,
.main div .part2 .card3 a .top,
.main div .part4 .card a .top,
.main div .part4 .card1 a .top,
.main div .part4 .card2 a .top,
.main div .part4 .card3 a .top {
  padding: 30% 0 0;
}
.main div .part1 .card1:hover,
.main div .part1 .card2:hover,
.main div .part1 .card3:hover,
.main div .part1 .card:hover,
.main div .part2 .card1:hover,
.main div .part2 .card2:hover,
.main div .part2 .card3:hover,
.main div .part2 .card:hover,
.main div .part4 .card1:hover,
.main div .part4 .card2:hover,
.main div .part4 .card3:hover,
.main div .part4 .card:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.main div .part3 .card a {
  cursor: default;
}
.main div .part3 .card a .top {
  padding-top: 30%;
}
.main div .part1,
.main div .part2,
.main div .part4 {
  grid-template-columns: repeat(3, 1fr);
}
.main div .part3,
.main div .part5 {
  grid-template-columns: 1fr;
}
.main div .part1 {
  grid-template-areas: "p1_card1 p1_card2 p1_card3";
}
.main div .part1 .card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: p1_card1;
}
.main div .part1 .card1 .top {
  background: url("../img/cardImgs/nur1.jpg") no-repeat center/cover;
}
.main div .part1 .card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: p1_card2;
}
.main div .part1 .card2 .top {
  background: url("../img/cardImgs/alma1.jpg") no-repeat center/cover;
}
.main div .part1 .card3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: p1_card3;
}
.main div .part1 .card3 .top {
  background: url("../img/cardImgs/taraz1.jpg") no-repeat center/cover;
}
.main div .part2 {
  grid-template-areas: "p2_card1 p2_card1 p2_card2" "p2_card1 p2_card1 p2_card3";
}
.main div .part2 .card1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: p2_card1;
}
.main div .part2 .card1 a {
  grid-template-rows: 1fr;
}
.main div .part2 .card1 a .top {
  border-radius: 10px;
  background: url("../img/cardImgs/hamil5.jpg") no-repeat center bottom/cover;
}
.main div .part2 .card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: p2_card2;
}
.main div .part2 .card2 .top {
  background: url("../img/cardImgs/hana1.jpg") no-repeat center bottom/cover;
}
.main div .part2 .card3 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: p2_card3;
}
.main div .part2 .card3 .top {
  background: url("../img/cardImgs/park5.jpg") no-repeat center/cover;
}
.main div .part3 {
  grid-template-areas: "p3_card";
}
.main div .part3 .card {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: p3_card;
}
.main div .part3 .card .top {
  background: url("../img/cardImgs/travelSafe.jpg") no-repeat center top/cover;
}
.main div .part4 {
  grid-template-areas: "p4_card1 p4_card2 p4_card3";
}
.main div .part4 .card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: p4_card1;
}
.main div .part4 .card1 .top {
  background: url("../img/cardImgs/jp5.jpg") no-repeat center top/cover;
}
.main div .part4 .card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: p4_card2;
}
.main div .part4 .card2 .top {
  background: url("../img/cardImgs/pasif1.jpg") no-repeat center/cover;
}
.main div .part4 .card3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: p4_card3;
}
.main div .part4 .card3 .top {
  background: url("../img/cardImgs/highway3.jpg") no-repeat center/cover;
}
.main div .part5 {
  grid-auto-rows: auto;
}
.main div .part5 div {
  display: block;
  grid-gap: 0;
}
.main div .part5 div .card a,
.main div .part5 div .card1 a,
.main div .part5 div .card2 a,
.main div .part5 div .card3 a {
  grid-template-rows: 1fr;
  grid-template-columns: 30% 70%;
}
.main div .part5 .p5_card {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  border: 0 solid transparent;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}
.main div .part5 .p5_card a {
  border: 0 solid #000;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.main div .part5 .left .getApp__photo {
  height: 100%;
}
.main div .part5 .left img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main div .part5 .right {
  display: flex;
}
.main div .part5 .right .text {
  margin: auto;
  padding: 4%;
  width: 66%;
}
.main div .part5 .right .qr_code {
  padding: 4%;
  width: 18%;
  margin: auto;
}
.main div .part5 .right .qr_code img {
  width: 100%;
}
.main .reviews {
  display: block;
  padding: 5% 0;
}
.main .reviews h3 {
  padding: 2% 0;
}
.main .reviews p {
  line-height: 130%;
}
.main .reviews i.fa-circle {
  font-size: 100%;
  color: #005aeb;
}
.main .reviews .reviewMessage {
  display: block;
  margin: 2% 0;
  border-bottom: 1px solid #000;
}
.main .reviews .leaveReview textarea {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  margin: 2% 0;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #999;
  padding: 2%;
}
.main .reviews .leaveReview textarea:focus {
  outline: none;
}

@media screen and (min-width: 2560px) {
  .header .flights .one-way form .searchButton,
.header .flights .one-way form input,
.header .flights .one-way form select {
    height: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .header .flights .one-way form {
    grid-template-columns: 1fr 1fr;
  }
  .header .flights .one-way .searchButton {
    grid-column: 1/3;
  }

  .main div .part1,
.main div .part2,
.main div .part4 {
    grid-template-columns: 1fr;
  }
  .main div .part1 {
    grid-template-areas: "p1_card1" "p1_card2" "p1_card3";
  }
  .main div .part2 {
    grid-template-areas: "p2_card1" "p2_card2" "p2_card3";
  }
  .main div .part4 {
    grid-template-areas: "p4_card1" "p4_card2" "p4_card3";
  }
  .main div .part5 .p5_card a {
    grid-template-columns: 1fr;
  }
  .main div .part5 .left {
    display: none;
  }
  .main div .part5 .right .text {
    width: 80%;
  }
  .main div .part5 .right .qr_code {
    width: 20%;
  }
  .main div .part1 .card1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main div .part1 .card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main div .part1 .card3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main div .part2 .card1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .main div .part2 .card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main div .part2 .card3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main div .part4 .card1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main div .part4 .card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main div .part4 .card3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 425px) {
  .header .flights .one-way form {
    grid-template-columns: 1fr;
  }
  .header .flights .one-way .searchButton {
    grid-column: 1/2;
  }
}