.nav {
  background-color: #005aeb;
}
.nav .container {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: minmax(20px, 100px);
}
.nav-left {
  text-align: center;
}
.nav-left img {
  width: 8vw;
  object-fit: contain;
}
.nav-left img:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.nav-right {
  justify-self: end;
}
.nav-right .menu-open {
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: repeat(5, 1fr);
}
.nav-right .menu-open-item {
  text-align: center;
  margin: auto 0;
}
.nav-right .menu-open-item:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.nav-right .menu-open-item a {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  color: #f2f2f2;
}
.nav-right .menu-open-item a:hover {
  color: #f2f2f2;
}

.footer {
  padding: 50px 0;
  background-color: #005aeb;
  color: #f2f2f2;
}
.footer .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw 10vw;
  text-align: center;
  margin-bottom: 10px;
}
.footer .links a {
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 1.5vw;
}
.footer .links a:hover {
  transform: scale3d(0.95, 0.95, 0.95);
  color: #f2f2f2;
}
.footer .legal {
  padding: 30px 0;
  text-align: center;
}