@import "./main-vars.scss"; //NAVBAR

.nav {
  background-color: $nav__bcc;

  .container {
    align-items: center;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: minmax(20px, 100px);
  }

  &-left {
    text-align: center;

    a {}

    img {
      width: $logo_width;
      // height: $logo_height;
      object-fit: contain;

      &:hover {
        transform: $scale-animation;
      }
    }
  }

  &-right {
    justify-self: end;

    .menu {
      &-open {
        display: grid;
        grid-gap: 4vw;
        grid-template-columns: repeat(4, 1fr);

        &-item {
          text-align: center;
          margin: auto 0;

          &:hover {
            transform: $scale-animation;
          }

          a {
            text-transform: uppercase;
            display: flex;
            width: 100%;
            justify-content: center;
            text-decoration: none;
            color: $nav__link_col;

            &:hover {
              color: $nav__link_col_hover;
            }
          }
        }
      }
    }
  }
}
//Footer

.footer {
  padding: 5% 0;
  @include bcc__c($nav__bcc, $nav__link_col);

  .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw 10vw;
    text-align: center;
    margin-bottom: 10px;

    a {
      align-self: center;
      text-transform: uppercase;
      color: $nav__link_col;
      font-size: 1.5vw;

      &:hover {
        transform: $scale-animation;
        color: $nav__link_col_hover;
      }
    }
  }

  .legal {
    padding: 30px 0;
    text-align: center;
  }
}






@media screen and (max-width: 425px) {
  .nav{
    padding: 5% 0;
    .container {
      display: block;

      .nav-left {
        align-items: center;
      }

      .menu {
        text-align: center;
        padding: 2% 0;
      }
    }
  }
  .nav-left img{
    width: 15vw;
  }
}
