.nav {
  background-color: #005aeb;
}
.nav .container {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
}
.nav-left {
  text-align: center;
}
.nav-left img {
  width: 8vw;
  object-fit: contain;
}
.nav-left img:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.nav-right {
  justify-self: end;
}
.nav-right .menu-open {
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: repeat(2, 1fr);
}
.nav-right .menu-open-item {
  text-align: center;
  margin: auto 0;
}
.nav-right .menu-open-item:hover {
  transform: scale3d(0.95, 0.95, 0.95);
}
.nav-right .menu-open-item a {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  color: #f2f2f2;
}
.nav-right .menu-open-item a:hover {
  color: #f2f2f2;
}
.nav .bottom {
  color: #f2f2f2;
  text-align: right;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}
.nav .bottom a {
  color: #f2f2f2;
}
.nav .bottom:nth-child(1):before {
  content: "";
}

.footer {
  padding: 5% 0;
  background-color: #005aeb;
  color: #f2f2f2;
}
.footer .partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 5%;
}
.footer .partners .image1 {
  width: 30%;
}
.footer .partners .image1 img {
  width: 100%;
}
.footer .partners .image2 {
  width: 30%;
}
.footer .partners .image2 img {
  width: 100%;
}
.footer .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw 10vw;
  text-align: center;
  margin-bottom: 10px;
}
.footer .links .footerLogo img {
  width: 100%;
}
.footer .links a {
  align-self: center;
  text-transform: uppercase;
  color: #f2f2f2;
}
.footer .links a:hover {
  transform: scale3d(0.95, 0.95, 0.95);
  color: #f2f2f2;
}
.footer .legal {
  padding: 30px 0;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .nav {
    padding: 5% 0;
  }
  .nav .container {
    display: block;
  }
  .nav .container .nav-left {
    align-items: center;
  }
  .nav .container .menu {
    text-align: center;
    padding: 2% 0;
  }
  .nav .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav .bottom:nth-child(1):before {
    content: none;
  }

  .nav-left img {
    width: 15vw;
  }
}